bower_components/
build/
*.pyc
.remote-sync.json
.sync/
database.rules.json
firebase.json
.firebaserc
functions/node_modules/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

canadiansroam-firebase-adminsdk-v9545-513360c730.json
